MYSQL_DATABASE=memo
MYSQL_USER=memo
MYSQL_PASSWORD=memo
MYSQL_ROOT_PASSWORD=root
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
BACKEND_PORT=8080
FRONTEND_PORT=8088
MILVUS_HOST=milvus
MILVUS_PORT=19530
MILVUS_COLLECTION=memo_chunks
MILVUS_DIMENSION=1024
INDEX_EMBEDDING_API_KEY=
